@model IEnumerable<Primeira_Aplicacao_Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Clientes</h2>
<table class=“table table-bordered table-hover”  0>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clientes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tipo de Assinatura&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.ActionLink(@item.name, "Details", "Customers", new { id = @item.id }, null)
            </td>
            <td>
                @Html.ActionLink(@item.membershipType.Name, "Details", "Customers", new { id = @item.id }, null)
            </td>
        </tr>

    }
</table>




