@model Primeira_Aplicacao_Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<h2>@Model.name</h2>
<ul>
    <li>Genre: @Model.genre.genre</li>
    <li>Release Date: @Model.releaseDate.ToLongDateString()</li>
    <li>Date Added: @Model.addDate.ToLongDateString()</li>
    <li>Number in Stock: @Model.stock</li>
</ul>